[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
jupyter = "*"
pandas = "*"
scipy = "*"
numpy = "*"
seaborn = "*"
bokeh = "*"
black = "==19.10b0"
nbconvert = "*"
jupyter-contrib-nbextensions = "*"
requests = "*"
shapely = "*"
geopandas = "*"
geojsonio = "*"
plotly = "*"
chart-studio = "*"
streamlit = "*"

[requires]
python_version = "3.7"
